<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente - Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button> Default </ion-button>

  <br>
  <h3>Links</h3>
  <br>
  <ion-button href="https://ionicons.com/"> Icones </ion-button>
  <ion-button href="/componente" goBack> Voltar </ion-button>
  <br>

  <h3>Cores</h3>

  <br>
  <ion-button color="primary"> primary </ion-button>
  <ion-button color="secondary"> secondary </ion-button>
  <ion-button color="tertiary"> tertiary </ion-button>
  <ion-button color="success"> success </ion-button>
  <ion-button color="warning"> warning </ion-button>
  <ion-button color="danger"> danger </ion-button>
  <ion-button color="light"> light </ion-button>
  <ion-button color="medium"> medium </ion-button>
  <ion-button color="dark"> dark </ion-button>
  <br>
  <h3>Formatos</h3>
  <br>

  <ion-button expand="full"> Full </ion-button>
  <ion-button expand="block"> Block </ion-button>
  <ion-button round> Round </ion-button>
  <ion-button expand="full" fill="outline"> Full Outline</ion-button>
  <ion-button round fill="outline"> Round Outline</ion-button>

  <br>
  <h3>Com Icones</h3>
  <br>

  <ion-button color="danger">
    <ion-icon slot="start" name="star"></ion-icon>
    Estrela
  </ion-button>
  <ion-button color="tertiary">
    <ion-icon slot="end" name="star"></ion-icon>
    Estrela
  </ion-button>
  <ion-button color="secondary">
    <ion-icon slot="icon-only" name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
  </ion-button>

  <br>
  <h3>Tamahos</h3>
  <br>
  <ion-button size="small" color="secondary"> Pequeno </ion-button>
  <ion-button color="secondary"> Médio </ion-button>
  <ion-button size="large" color="secondary"> Grande </ion-button>

</ion-content>