<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente - Spinner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label slot="end"  class="ion-text-capitalize">Default</ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>
    <ion-item>
      <ion-label slot="end"  class="ion-text-capitalize">Bubbles</ion-label>
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-item>
    <ion-item>
      <ion-label slot="end" class="ion-text-capitalize">circles</ion-label>
      <ion-spinner name="circles"></ion-spinner>
    </ion-item>
    <ion-item>
      <ion-label slot="end"  class="ion-text-capitalize">circular</ion-label>
      <ion-spinner name="circular"></ion-spinner>
    </ion-item>
    <ion-item>
      <ion-label slot="end"  class="ion-text-capitalize">crescent</ion-label>
      <ion-spinner name="crescent"></ion-spinner>
    </ion-item>
    <ion-item>
      <ion-label slot="end"  class="ion-text-capitalize">dots</ion-label>
      <ion-spinner name="dots"></ion-spinner>
    </ion-item>
    <ion-item>
      <ion-label slot="end"  class="ion-text-capitalize">lines</ion-label>
      <ion-spinner name="lines"></ion-spinner>
    </ion-item>
    <ion-item>
      <ion-label slot="end"  class="ion-text-capitalize">lines-small</ion-label>
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-item>
    <ion-item>
      <ion-label slot="end"  class="ion-text-capitalize">Pausado</ion-label>
      <ion-spinner name="crescent" paused></ion-spinner>
    </ion-item>
  </ion-list>
</ion-content>