<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente - Radio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-radio-group>
      <ion-list-header>Frutas</ion-list-header>
      <ion-item>
        <ion-label>Abacate</ion-label>
        <ion-radio slot="start" value="Abacate"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Maçã</ion-label>
        <ion-radio slot="start" value="Maca"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Morango</ion-label>
        <ion-radio slot="start" value="Morango"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Limão</ion-label>
        <ion-radio slot="start" value="Limao"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <br>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>Opções</ion-list-header>
      <ion-item>
        <ion-label>Default</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Checked</ion-label>
        <ion-radio checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Disabled</ion-label>
        <ion-radio disabled></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>