<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>layout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="onClick('header')">
    Header e Footer
  </ion-button>
  <ion-button expand="full" (click)="onClick('tabs')">
    Tabs
  </ion-button>
  <ion-button expand="full" (click)="onClick('menu')">
    Menu
  </ion-button>
  <ion-button expand="full" (click)="onClick('split')">
    Split Pane
  </ion-button>
  <ion-button expand="full" (click)="onClick('grid')">
    Grid
  </ion-button>
  <ion-button expand="full" (click)="onClick('css')">
    Css Utilities
  </ion-button>
</ion-content>
