<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="onClick('componente-action-sheet')"> Action Sheet </ion-button>
  <ion-button expand="full" (click)="onClick('componente-alert')"> Alert </ion-button>
  <ion-button expand="full" (click)="onClick('componente-badges')"> Badges </ion-button>
  <ion-button expand="full" (click)="onClick('componente-button')"> Button </ion-button>
  <ion-button expand="full" (click)="onClick('componente-card')"> Card </ion-button>
  <ion-button expand="full" (click)="onClick('componente-checkbox')"> Checkbox </ion-button>
  <ion-button expand="full" (click)="onClick('componente-radio')"> Radio </ion-button>
  <ion-button expand="full" (click)="onClick('componente-date-time')"> Date Time </ion-button>
  <ion-button expand="full" (click)="onClick('componente-fab')"> Fab </ion-button>
  <ion-button expand="full" (click)="onClick('componente-input')"> Input </ion-button>
  <ion-button expand="full" (click)="onClick('componente-lista')"> Lista </ion-button>
  <ion-button expand="full" (click)="onClick('componente-loading')"> Loading </ion-button>
  <ion-button expand="full" (click)="onClick('componente-modal')"> Modal </ion-button>
  <ion-button expand="full" (click)="onClick('componente-range')"> Range </ion-button>
  <ion-button expand="full" (click)="onClick('componente-select')"> Select </ion-button>
  <ion-button expand="full" (click)="onClick('componente-slide')"> Slide </ion-button>
  <ion-button expand="full" (click)="onClick('componente-spinner')"> Spinner </ion-button>
  <ion-button expand="full" (click)="onClick('componente-toast')"> Toast </ion-button>
  <ion-button expand="full" (click)="onClick('componente-infinity-scroll')"> Infinite Scroll </ion-button>
  <ion-button expand="full" (click)="onClick('componente-popover')"> Popover </ion-button>
  <ion-button expand="full" (click)="onClick('componente-refresher')"> Refresher </ion-button>
  <ion-button expand="full" (click)="onClick('componente-searchbar')"> Search Bar </ion-button>
  <ion-button expand="full" (click)="onClick('componente-toggle')"> Toggle </ion-button>
</ion-content>
