<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente - Badges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-badge class="ion-margin-horizontal" color="primary">42</ion-badge>
        <ion-badge class="ion-margin-horizontal" color="secondary">42</ion-badge>
        <ion-badge class="ion-margin-horizontal" color="tertiary">42</ion-badge>
        <ion-badge class="ion-margin-horizontal" color="success">42</ion-badge>
        <ion-badge class="ion-margin-horizontal" color="warning">42</ion-badge>
        <ion-badge class="ion-margin-horizontal" color="danger">42</ion-badge>
        <ion-badge class="ion-margin-horizontal" color="light">42</ion-badge>
        <ion-badge class="ion-margin-horizontal" color="medium">42</ion-badge>
        <ion-badge class="ion-margin-horizontal" color="dark">42</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="eye"></ion-icon>Visualizações
      <ion-badge slot="end" color="success">42</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="alert"></ion-icon>Notificações
      <ion-badge slot="end" color="danger">42</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="chatboxes"></ion-icon>Mensagens
      <ion-badge slot="end" color="primary">42</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="contacts"></ion-icon>Contatos
      <ion-badge slot="end" color="secondary">42</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="globe"></ion-icon>Novos Stories
      <ion-badge slot="end" color="tertiary">42</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>