<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Layout - CSS Utilities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col class="ion-text-end">
        <div>
          <h3>text-end</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
      <ion-col class="ion-text-justify">
        <div>
          <h3>text-justify</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-start">
        <div>
          <h3>text-start</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>
          <h3>text-center</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-wrap">
        <div>
          <h3>text-wrap</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
      <ion-col class="ion-text-nowrap">
        <div>
          <h3>text-nowrap</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-left">
        <div>
          <h3>text-left</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
      <ion-col class="ion-text-right">
        <div>
          <h3>text-right</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-uppercase">
        <div>
          <h3>text-uppercase</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
      <ion-col class="ion-text-lowercase">
        <div>
          <h3>text-lowercase</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-capitalize">
        <div>
          <h3>text-capitalize</h3>
          Nessa parte vamos aprender sobre como usar o css dentro do Ionic!
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-sm-center ion-text-md-left ion-text-lg-end ion-text-xl-uppercase">
    <h3>Trabalhando com Responsividade</h3>
  </div>
  <h3>Trabalhando com Padding</h3>
  <img src="/assets/padding.png"/>
  <br>
  <hr>
  <br>
  <!-- <ion-grid>
    <ion-row>
      <ion-col class="ion-padding"><div>padding</div></ion-col>
      <ion-col class="ion-padding-top"><div>padding-top</div></ion-col>
      <ion-col class="ion-padding-start"><div>padding-start</div></ion-col>
      <ion-col class="ion-padding-end"><div>padding-end</div></ion-col>
      <ion-col class="ion-padding-bottom"><div>padding-bottom</div></ion-col>
      <ion-col class="ion-padding-vertical"><div>padding-vertical</div></ion-col>
      <ion-col class="ion-padding-horizontal"><div>padding-horizontal</div></ion-col>
      <ion-col class="ion-no-padding"><div>no-padding</div></ion-col>      
    </ion-row>
  </ion-grid> -->
  <h3>Trabalhando com Padding</h3>
  <img src="/assets/margin.png"/>
  <!-- <ion-grid>
    <ion-row>
      <ion-col class="ion-margin"><div>margin</div></ion-col>
      <ion-col class="ion-margin-top"><div>margin-top</div></ion-col>
      <ion-col class="ion-margin-start"><div>margin-start</div></ion-col>
      <ion-col class="ion-margin-end"><div>margin-end</div></ion-col>
      <ion-col class="ion-margin-bottom"><div>margin-bottom</div></ion-col>
      <ion-col class="ion-margin-vertical"><div>margin-vertical</div></ion-col>
      <ion-col class="ion-margin-horizontal"><div>margin-horizontal</div></ion-col>
      <ion-col class="ion-no-margin"><div>no-margin</div></ion-col>      
    </ion-row>
  </ion-grid> -->
  <a href="https://ionicframework.com/docs/layout/css-utilities">Mais Informações</a>
</ion-content>
