<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente - Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="abrirAlertSimples()">
    Alert Simples
  </ion-button>
  <ion-button expand="full" (click)="alertMultButoes()">
    Alert com Varios Butões
  </ion-button>
  <ion-button expand="full" (click)="alertConfirmacao()">
    Confirmação
  </ion-button>
  <ion-button expand="full" (click)="alertPrompt()">
    Alert Prompt
  </ion-button>
  <ion-button expand="full" (click)="alertRadio()">
    Alert Radio
  </ion-button>
  <ion-button expand="full" (click)="alertCheckBox()">
    Alert Check Box
  </ion-button>
</ion-content>
