<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente - Toggle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Abacaxi</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Manga</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Laranja</ion-label>
      <ion-toggle color="tertiary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Morango</ion-label>
      <ion-toggle color="success"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>banana</ion-label>
      <ion-toggle color="warning"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Melância</ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Coco</ion-label>
      <ion-toggle color="light"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>